body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
    overflow-x: hidden; /* Allow vertical scrolling but hide horizontal overflow */
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #ff69b4;
}

#welcome-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ff69b4;
    display: inline-block;
    transition: transform 0.3s;
    font-weight: bold; /* Bold menu items */
}

nav ul li a:hover {
    transform: rotate(360deg);
}

.floating-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    display: none; /* Hidden by default */
}

#skills .floating-box {
    display: block; /* Ensures nested boxes are block elements */
    margin-bottom: 20px; /* Adds spacing between the skill boxes */
}

section {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}
